.btn
  display inline-block
  padding 11px 25px 13px
  transition all .5s
  text-align center
  border-radius 25px
  outline none
  &--shadowed-dark
    border 2px solid $primary-color
    background rgba($primary-color, 0.1)
    box-shadow 0 0 15px rgba($primary-color, 0.5), 0 0 15px rgba($primary-color, 0.5) inset
    color #fff
    text-decoration none
    &:hover
      color #fff
      text-decoration none
      background rgba($primary-color, 0.6)
  &--shadowed-light
    border 2px solid $primary-color
    background transparent
    color $primary-color
    box-shadow 0 0 15px rgba($primary-color, 0.5), 0 0 15px rgba($primary-color, 0.5) inset
    &:hover
      text-decoration none
      color #fff
      background rgba($primary-color, 0.8)
  &--facebook
    border 2px solid #3b5998
    position relative
    background #3b5998
    color #fff
    i
      position absolute
      width 14px
      height 24px
      background url('../images/facebook_icon@2x.png') no-repeat center
      left 20px
      top 50%
      transform translateY(-50%)
      background-size contain
    &:hover
      color #fff
      text-decoration none
      opacity 0.8
  &--google
    border 2px solid #dc4e41
    position relative
    background #dc4e41
    color #fff
    i
      position absolute
      width 30px
      height 20px
      background url('../images/google_plus_icon@2x.png') no-repeat center
      left 20px
      top 50%
      transform translateY(-50%)
      background-size contain
    &:hover
      color #fff
      text-decoration none
      opacity 0.8
  &--twitter
    border 2px solid #00aced
    position relative
    background #00aced
    color #fff
    i
      position absolute
      width 24px
      height 19px
      background url('../images/twitter_icon@2x.png') no-repeat center
      left 20px
      top 50%
      transform translateY(-50%)
      background-size contain
    &:hover
      color #fff
      text-decoration none
      opacity 0.8
  &--260
    width 100%
    max-width 260px
  &--160
    width 100%
    max-width 160px
  &--small
    padding 5px 20px 7px
    font-size 12px
    border-radius 15px
  &--medium
    padding 6px 25px 9px
    font-size 15px
    &.btn--google,
    &.btn--twitter,
    &.btn--facebook
      i
        left 15px
  &--full-w
    width 100%
    @media screen and (max-width 767px)
      width auto
      min-width 150px

.logon-btns
  clearfix()
  .btn
    float left
    &:first-of-type
      border-top-right-radius 0
      border-bottom-right-radius 0
    &:last-of-type
      margin-left -2px
      border-top-left-radius 0
      border-bottom-left-radius 0

.horizontal-btns
  margin-top 75px
  @media screen and (max-width: 991px)
    margin-top 55px
  .btn
    margin 0 21px
    @media screen and (max-width: 991px)
      margin-top 20px

.social-btns
  .btn
    width 100%
    margin 0 5px
    margin-bottom 10px
    &:last-of-type
      margin-bottom 0