.glowing-square
  background $primary-color
  width 80px
  height 80px
  position absolute
  filter blur(3px)
  opacity 0.32
  box-shadow 0 0 0 $primary-color
  &-1
    right 100%
    margin-right 35px
    top 20px
    animation glowing1 1.5s ease-in-out infinite alternate
  &-2
    left 100%
    margin-left 75px
    top 65px
    animation 1.5s glowing1 .7s ease-in-out infinite alternate

