.p-tb-40 
  padding-top 40px
  padding-bottom 40px

.p-t-60
  padding-top 60px

.p-t-30
  padding-top 30px

.p-t-40
  padding-top 40px

.p-b-60
  padding-bottom 60px

.pr-0
  padding-right 0

.pl-0
  padding-left 0

.pos-r
  position relative

.mt-mb-0
  margin 0 !important

.pt-mob-0
  @media screen and (max-width: 767px) 
    padding-top 0

.or-horizontal
  display block
  text-align center
  position relative
  margin 27px 0
  &:before
  &:after
    content ''
    position absolute
    height 1px
    background #232323
    top 50%
    transform translateY
    width calc(50% - 20px)
  &:before
    left -5px
  &:after
    right -5px

.col-vertical-line-right
  padding-left 60px
  border-left 1px solid $primary-color
  @media screen and (max-width 575px)
    padding-left 15px
    border-left none

.nowrap
  white-space nowrap
  
.noscroll
  @media screen and (min-width 768px)
    overflow-y hidden !important

.mt-5
  margin-top 5px

.mb-5
  margin-bottom 5px
  
.mb-7
  margin-bottom 7px

.mt-10
  margin-top 10px

.mb-10
  margin-bottom 10px

.mb-10
  margin-bottom 10px
  
.mt-15
  margin-top 15px

.mb-15
  margin-bottom 15px

.mt-20
  margin-top 20px

.mb-20
  margin-bottom 20px

.mb-25
  margin-bottom 25px

.mb-30
  margin-bottom 30px

.mt-25
  margin-top 25px

.mt-35
  margin-top 35px

.mt-40
  margin-top 40px

.mt-sm-15
  @media screen and (max-width: 767px)
    margin-top 15px

.mb-md-30
  @media screen and (max-width: 991px)
    margin-bottom 30px

.error-text
  font-size 14px
  color $primary-color !important

.error-field
  border-color $primary-color !important

.error-message,
.info-message,
.danger-message,
.success-message
  margin 20px 0
  border-radius 5px
  font-size 16px
  padding 10px 15px 12px

.success-message
  background #c7eab9
  color #3c763d

.info-message
  background-color #d9edf7
  color #31708f

.error-message
  background-color lighten($primary-color, 70%)
  color darken($primary-color, 40%)
  
.danger-message
  background-color #fde5b8
  color darken($primary-color, 50%)

.row-max-w-200
  display inline-block
  vertical-align middle
  max-width 200px
  overflow hidden
  text-overflow ellipsis

.wordwrap
  word-wrap break-word

.hidden-lg
  @media (max-width: 991px)
    display none