.card-steps-wrap
  display flex
  margin-bottom 50px
  justify-content space-between
  align-items center
  @media screen and (max-width: 1199px)
    flex-direction column
.card-steps
  @media screen and (max-width: 1199px)
    margin-top 20px
  ul
    clearlist()
    clearfix()
    @media screen and (max-width: 767px)
      display flex
      flex-wrap wrap
      justify-content center
    li
      float left
      background #bfbfbf
      height 36px
      line-height 32px
      position relative
      min-width 210px
      text-align center
      padding-left 20px
      margin-right 10px
      border 1px solid #bfbfbf
      @media screen and (max-width: 767px)
        min-width 160px
        margin-bottom 10px
      a,
      span
        color #fff
        cursor default
        text-decoration none
      .left-triangle,
      .right-triangle
        position absolute
        left 0
        bottom 0
        top -1px
        &:after
          content ''
          position absolute
          left 0
          top 0
          width 0
          height 0
          border-style solid
          border-width 18px 0 18px 20px
          border-color transparent transparent transparent #bfbfbf
        &:before
          content ''
          position absolute
          left -1px
          top 0px
          width 0
          height 0
          border-style solid
          border-width 18px 0 18px 20px
          border-color transparent transparent transparent #fff
          z-index 10
      &:first-of-type
        margin-right 10px
        z-index 20
        padding-left 0
        a,
        span
          color #fff
          text-decoration none
      .right-triangle
        left 100%
        &:before
          display none
      &:nth-of-type(2)
        z-index 15
      &:nth-of-type(3)
        z-index 10
      &:nth-of-type(5)
        z-index 5
      &.current-step
        background $primary-color
        border none
        .left-triangle
          &:after
            display none
          &:before
            top 1px
        .right-triangle
          &:after
            top 1px
            border-color transparent transparent transparent $primary-color
        & ~ li
          background #fff
          span,
          a
            color #b6b6b6
          .right-triangle
            &:before
              display block

.card-wrap
  padding-right 30px
  margin-bottom 50px
  @media screen and (max-width: 767px)
    padding-right 0
  .radio-button
    label
      padding-left 65px
      @media screen and (max-width: 568px)
        padding-left 45px
      

.card-submit
  text-align center
  margin-top 55px

.card-submit-wrap
  display inline-block
  position relative

.card-text-wrap
  padding-left 30px
  @media screen and (max-width: 767px)
    padding-left 0

.col-md-6:first-of-type
  .card-text-wrap
    @media screen and (max-width: 767px)
      margin-bottom 100px

.step2-container
  .drag-drop-text
    font-size 14px
  .drag-drop-container
    max-width 305px
  .btn
    margin 25px 0
  .drag-drop-ico
    margin 20px 0 15px