.main-dashboard
  padding 50px 0 100px
  overflow hidden
  .countdown-dots
    color $primary-color
    margin 0 15px
    @media screen and (max-width: 575px)
      margin 0
  .countdown-txt-sm
    color #232323
  .countdown-group
    text-align center

.main-panel-layout
  background transparent

.particles-js-black#particles-js
  background-color #ededed

.dashboard-row
  display flex
  align-items flex-start
  align-self flex-start
  flex-wrap wrap

.dashboard-container
  display flex
  flex-wrap wrap
  min-height calc(100vh - 88px)

.dashboard-left
  max-width 50%
  flex 0 0 50%
  padding-right 35px
  position relative
  @media screen and (max-width: 991px)
    max-width 100%
    flex 0 0 100%
    padding 0
    margin-bottom 50px
  &:before
    content ''
    position absolute
    right -1px
    top -20px
    bottom -20px
    width 1px
    background #cfcfcf
    @media screen and (max-width: 991px)
      display none

.dashboard-left-wrap
  max-width 65%
  flex 0 0 65%
  position relative
  padding 50px 0 100px
  @media screen and (max-width: 991px)
    max-width 100%
    flex 0 0 100%
    padding 50px 0 0

.dashboard-right
  max-width 50%
  flex: 0 0 50%
  padding-left 30px
  position relative
  @media screen and (max-width: 991px)
    max-width 100%
    flex 0 0 100%
    padding 0
  &:before
    content ''
    position absolute
    left 0px
    top -20px
    bottom -20px
    width 1px
    background #cfcfcf
    @media screen and (max-width: 991px)
      display none

.dashboard-right-wrap
  max-width 35%
  flex 0 0 35%
  padding 50px 0 100px 60px
  position relative
  z-index 10
  background #f5f5f5
  border-left 1px solid #cfcfcf
  @media screen and (max-width: 991px)
    max-width 100%
    flex 0 0 100%
    padding 50px 0 100px
    border-left none
    background transparent
  &:before
    content ''
    position absolute
    left 100%
    top 0
    bottom 0
    right -99999px
    background #f5f5f5
    @media screen and (max-width: 991px)
      display none

.dashboard-col-wrap
  padding-right 65px
  @media screen and (max-width: 991px)
    padding-right 0
  .col-md-6
    @media screen and (max-width: 767px)
      margin-bottom 40px
    &:last-of-type
      margin-bottom 0

.dashboard-group
  margin-bottom 40px

.dashboard-group-lg
  margin-bottom 60px

.dashboard-group-md
  margin-bottom 30px

.dashboard-group-sm
  margin-bottom 20px

.border-right-image
  padding-right 30px
  position relative
  &:before
    content ''
    position absolute
    right 0
    width 6px
    top 0 
    bottom 0
    background $primary-color
    box-shadow 0 0 10px rgba($primary-color, .8)

.thumb-60
  width 60px
  display inline-block
  border-radius 50%
  box-shadow 1px 1px 5px rgba(#000,.3)
  overflow hidden
  img
    width 100%

.dashboard-social
  @media screen and (max-width: 991px)
    margin-bottom 40px

.horizontal-icons
  clearlist()
  clearfix()
  display flex
  justify-content center
  align-items center
  @media screen and (max-width: 767px)
    flex-wrap wrap
  li
    width (100% / 3)
    display flex
    align-items center
    @media screen and (max-width: 767px)
      width 50%
    @media screen and (max-width: 450px)
      width 100%
      margin-bottom 20px
      display block
      text-align center
    img
      display inline-block
      vertical-align middle
    span
      display inline-block
      vertical-align middle
      margin-left 15px
      @media screen and (max-width: 450px)
        display block
        margin-left 0

.countdown
  min-height 105px
  
.countdown-group
  display inline-block
  vertical-align top
  width 75px
  @media screen and (max-width: 575px)
    width 60px

.countdown-txt-lg
  font-size 48px
  display block
  font-weight 300
  @media screen and (max-width: 575px)
    font-size 40px

.countdown-txt-sm
  font-size 18px
  display block
  margin-top 25px
  @media screen and (max-width: 575px)
    font-size 15px
    margin-top 15px

.panel
  position relative
  z-index 10
  .countdown
    min-height 82px
  .countdown-txt-sm
    margin-top 0
    @media screen and (max-width: 575px)
      font-size 13px
  .countdown-txt-lg
    @media screen and (max-width: 575px)
      font-size 30px
  .countdown-group
    @media screen and (max-width: 575px)
      width 50px
  .countdown-dots
    @media screen and (max-width: 575px)
      font-size 30px

.row-bellow-panel
  margin-top 50px
  margin-bottom -50px
  font-size 16px

.countdown-dots
  font-size 48px
  display inline-block
  vertical-align top
  line-height 1
  margin 0 25px
  @media screen and (max-width: 575px)
    font-size 40px
    margin 0px

.main-inv
  min-height 100vh
  background #fff url('../images/logomark.png') no-repeat center
  background-size auto 105%
  padding 150px 0 250px
  position relative

.invitation-wrap
  max-width 990px
  margin auto
  p
    line-height 1.5

.inv-form
  max-width 340px
  display block
  margin-top 30px
  hr
    margin 40px 0

.dashboard-top-panel
  position relative
  margin-bottom 70px
  .back-arrow
    position absolute
    top 50%
    transform translateY(-50%)
    left -90px
    @media screen and (max-width 1320px)
      position static
      margin-bottom 20px
      transform none
  .form-group
    margin 0
    width 100%
    max-width 200px
    @media screen and (max-width 767px)
      margin-top 30px

.dashboard-top-panel-row
  display flex
  min-height 82px
  align-items center
  justify-content space-between
  &--sm
    min-height 40px
  @media screen and (max-width 767px)
    display block
    margin-top 30px

.tabs-head-wrap
  background #eee
  padding 0 25px

.tabs-head
  clearlist()
  clearfix()
  display inline-block
  li
    float left
    padding-right 40px
    a
      color $font-color
    &.is-active
      a
        color $primary-color

.tab-body
  display none
  &.is-active
    display block

.panel
  background #fff
  box-shadow 0 2px 7px rgba(#000, .3)
  margin-bottom 30px
  border-radius 5px
  padding 25px 30px

.tabs-head-faq
  background #f6f6f6
  min-height 1px
  margin-bottom 35px
  .tabs-head
    display block
    width 100%
    li
      padding 0
      width 25%
      text-align center
      &.is-active
        a
          background $primary-color
          color #fff !important
      a
        display block
        padding 10px 20px
        @media screen and (max-width 480px)
          padding 10px
          font-size 15px
        &:hover
          color $primary-color
          text-decoration none !important

.tabs-wrap
  .accordion
    max-width 780px
    margin auto

.accordion__head
  position relative
  padding 10px 0 10px 35px
  .fa
    position absolute
    left 0
    font-size 13px
    top 50%
    transform translateY(-50%)
    transition all .3s
  a
    text-decoration none !important
  h3
    color #000
    padding 5px 0
  &.is-active
    .fa
      transform rotate(180deg) translateY(-50%)
      margin-top -11px

.accordion__body
  padding 25px 0
  display none
  p
    &:last-of-type
      margin-bottom 0

.invitation-wrap-3col
  max-width 100%
  .lp-znx-img
    width 145px
    height 145px
    background none
    @media screen and (max-width 1199px)
      margin-right 20px

.inv-content-col
  @media screen and (max-width 575px)
    max-width 370px
    margin 70px auto 0

.inv-col1
  @media screen and (max-width 991px)
    margin-bottom 60px
    text-align center
  .p-b-60
    @media screen and (max-width 991px)
      padding-bottom 40px

.inv-bonus-row
  .headline
    @media screen and (max-width 991px)
      margin-bottom 20px
  
.inv-card-row
  @media screen and (max-width 991px)
    display block
    margin-top -15px

.dashboard-center-block
  padding 120px 0 50px

.center-panel
  width 100%
  margin auto
  background #fff
  border-radius 7px
  box-shadow 0 0 15px rgba(#000, .2)
  padding 40px 30px
  &--md
    max-width 500px

.header__lp
  .h2
    margin-bottom 40px
  p
    max-width 975px
    margin auto

.lp-section-ref
  padding 0 0 140px
  .h4
    margin-bottom 40px
  
.lp-ref-left
  max-width 280px
  padding 20px 0
  border-right 5px solid #f92112
  @media (max-width 767px)
    text-align center
    margin auto
    border-right none

.lp-ref-right
  @media (max-width 767px)
    max-width 280px
    margin auto
    text-align center
    margin-top 60px
  img
    max-width 115px

.lp-section-dist
  .h2
    margin-bottom 70px

.dist-list
  margin-top 60px
  clearlist()
  font-size 24px
  font-weight 700
  display inline-block
  li
    margin-bottom 60px
  span
    display inline-block
    vertical-align middle
    @media (max-width 570px)
      display block
      min-width 100% !important
      text-align center !important
    &:first-of-type
      min-width 155px
      text-align right
    &:last-of-type
      min-width 210px
      text-align left
  i
    display inline-block
    vertical-align middle
    width 58px
    height 16px
    background url('../images/shape3.png') no-repeat center
    background-size contain
    margin 0 30px
    @media (max-width 570px)
      margin 8px auto

.lp-panels-group
  padding-top 50px

.lp-panel
  min-height 360px
  color #0c1015
  background #fff
  text-align left
  padding 35px
  position relative
  margin-bottom 30px
  .h4
    font-weight 700
    a
      color #0c1015
      &:hover
        text-decoration none
        color $primary-color
  img
    position absolute
    bottom 95px
    left 50%
    transform translateX(-50%)

.lp-panel__link
  position absolute
  bottom 30px
  right 35px

.main-f-height
  position absolute
  left 0
  right 0
  top 50%
  transform translateY(-50%)
  @media (max-height: 650px)
    position static
    transform none
    margin-top -80px
    padding-bottom 150px

.spin-logo
  margin-bottom 45px
  img
    animation spin 2s infinite linear

.maintenance-group
  max-width 640px
  margin auto
  .h2
    margin-bottom 35px
  .btn
    margin-top 35px

.sticky-panel
  position fixed
  right 0
  top 170px
  width 240px
  padding 15px 25px
  padding-left 50px
  background $primary-color
  z-index 500
  color #fff
  transition transform .4s
  transform translateX(100%)
  opacity 0
  visibility hidden
  @media (max-width: 991px)
    top 230px
    position absolute
  @media (max-width: 767px)
    top 250px
  @media (max-width: 410px)
    top 300px
  &.is-active
    transform translateX(0)
    opacity 1
    visibility visible
  a
    color inherit
    outline none
  .fa
    position absolute
    left 20px
    top 50%
    text-decoration none
    transform translateY(-50%)

.sticky-panel__text
  display inline-block