.main-dashboard
  padding 50px 0 100px
  overflow hidden
  .countdown-dots
    color $primary-color
    @media screen and (max-width: 1199px)
      margin 0 15px
    @media screen and (max-width: 575px)
      margin 0
  .countdown-txt-sm
    color #232323
  .countdown-group
    text-align center

.dashboard-row
  display flex
  align-items flex-start
  align-self flex-start
  flex-wrap wrap

.dashboard-container
  display flex
  flex-wrap wrap
  min-height calc(100vh - 88px)

.dashboard-left
  width 50%
  flex 0 0 50%
  padding-right 35px
  position relative
  @media screen and (max-width: 991px)
    width 100%
    flex 0 0 100%
    padding 0
    margin-bottom 50px
  &:before
    content ''
    position absolute
    right -1px
    top -20px
    bottom -20px
    width 1px
    background #cfcfcf
    @media screen and (max-width: 991px)
      display none

.dashboard-left-wrap
  width 65%
  flex 0 0 65%
  position relative
  padding 50px 0 100px
  @media screen and (max-width: 991px)
    width 100%
    flex 0 0 100%
    padding 50px 0 0

.dashboard-right
  width 50%
  flex: 0 0 50%
  padding-left 30px
  position relative
  @media screen and (max-width: 991px)
    width 100%
    flex 0 0 100%
    padding 0
  &:before
    content ''
    position absolute
    left 0px
    top -20px
    bottom -20px
    width 1px
    background #cfcfcf
    @media screen and (max-width: 991px)
      display none

.dashboard-right-wrap
  width 35%
  flex 0 0 35%
  padding 50px 0 100px 60px
  position relative
  z-index 10
  background #f5f5f5
  border-left 1px solid #cfcfcf
  @media screen and (max-width: 991px)
    width 100%
    flex 0 0 100%
    padding 50px 0 100px
    border-left none
    background transparent
  &:before
    content ''
    position absolute
    left 100%
    top 0
    bottom 0
    right -99999px
    background #f5f5f5
    @media screen and (max-width: 991px)
      display none

.dashboard-col-wrap
  padding-right 65px
  @media screen and (max-width: 991px)
    padding-right 0
  .col-md-6
    @media screen and (max-width: 767px)
      margin-bottom 40px
    &:last-of-type
      margin-bottom 0

.dashboard-group
  margin-bottom 40px

.dashboard-group-md
  margin-bottom 30px

.dashboard-group-sm
  margin-bottom 20px

.border-right-image
  padding-right 30px
  position relative
  &:before
    content ''
    position absolute
    right 0
    width 6px
    top 0 
    bottom 0
    background $primary-color
    box-shadow 0 0 10px rgba($primary-color, .8)

.thumb-60
  width 60px
  display inline-block
  border-radius 50%
  box-shadow 1px 1px 5px rgba(#000,.3)
  overflow hidden

.dashboard-social
  @media screen and (max-width: 991px)
    margin-bottom 40px

.horizontal-icons
  clearlist()
  clearfix()
  display flex
  justify-content center
  align-items center
  @media screen and (max-width: 767px)
    flex-wrap wrap
  li
    width (100% / 3)
    display flex
    align-items center
    @media screen and (max-width: 767px)
      width 50%
    @media screen and (max-width: 450px)
      width 100%
      margin-bottom 20px
      display block
      text-align center
    img
      display inline-block
      vertical-align middle
    span
      display inline-block
      vertical-align middle
      margin-left 15px
      @media screen and (max-width: 450px)
        display block
        margin-left 0

.countdown
  min-height 105px
  
.countdown-group
  display inline-block
  vertical-align top
  width 75px
  @media screen and (max-width: 575px)
    width 60px

.countdown-txt-lg
  font-size 48px
  display block
  font-weight 300
  @media screen and (max-width: 575px)
    font-size 40px

.countdown-txt-sm
  font-size 18px
  display block
  margin-top 25px
  @media screen and (max-width: 575px)
    font-size 15px
    margin-top 15px

.countdown-dots
  font-size 48px
  display inline-block
  vertical-align top
  line-height 1
  margin 0 25px
  @media screen and (max-width: 575px)
    font-size 40px
    margin 0px

.main-inv
  min-height 100vh
  background #fff url('../images/logomark.png') no-repeat center
  background-size auto 105%
  padding 150px 0 250px
  position relative

.invitation-wrap
  max-width 990px
  margin auto
  p
    line-height 1.5

.inv-form
  max-width 340px
  display block
  margin-top 30px
  hr
    margin 40px 0