// paths
$path-images = '../images/'

// colors
$primary-color = #f92112
// $secondary-color = #2DDE98
$black-color = #232323
$font-color = $black-color
$white-color = #fff
$bg-color-dark = #0c1015
$bg-color-light = #f9f9f9