.header-lp
  padding-bottom 160px
  position relative
  background transparent
  z-index 50
  @media screen and (max-width: 575px)
    padding-bottom 100px

.lp-section-one
  padding-top 70px
  margin-top -70px
  padding-bottom 95px
  position relative
  z-index 20
  // &:before
  //   content ''
  //   position absolute
  //   left 0
  //   right 0
  //   bottom 0
  //   top 0
  //   background url('../images/squares-1-2.png') no-repeat center top
  //   animation glowing1 1.5s ease-in-out infinite alternate
    // transform translateZ(0)
  .horizontal-icons
    max-width 750px
    margin 75px auto
    text-align left
  .headline
    display inline-block
  & > div
    position relative
    z-index 10
  .styl-list li
    margin-bottom 20px

.lp-section-artifical
  padding-bottom 0
  .headline
    margin-bottom 70px

.lp-head
  text-align center
  position relative
  &-lines
    position absolute
    right -58px
    top 11px
    @media screen and (max-width 991px)
      max-width 200px
    @media screen and (max-width 767px)
      display none
  &-img
    position relative
    z-index 10

.lp-features-list
  max-width 320px
  display block
  margin: -15px 50px 80px;
  @media screen and (max-width 767px)
    margin 60px auto
  li
    margin-bottom 17px
    display flex
    justify-content space-between

.lp-section-two
  padding 140px 0 130px
  position relative
  z-index 1
  @media screen and (max-width: 1400px)
    padding 130px 0 110px
  @media screen and (max-width: 1199px)
    padding 110px 0 100px
  @media screen and (max-width: 767px)
    padding 20px 0 80px
  // &:after
  //   background inherit
  //   content ''
  //   display block
  //   height 50%
  //   left 0
  //   position absolute
  //   right 0
  //   z-index -1
  //   -webkit-backface-visibility hidden
  //   bottom 0
  //   transform skewY(-1.1deg)
  //   transform-origin 100%
  //   box-shadow 0 2px 10px rgba(#000, .3)
  // &:before
  //   content ''
  //   position absolute
  //   left 0
  //   right 0
  //   bottom 0
  //   top 0
  //   background url('../images/squares-1-3.png') no-repeat center top
  //   animation glowing1 1.5s ease-in-out infinite alternate
    // transform translateZ(0)
  & > div
    position relative
    z-index 10

.lp-progress-wrap
  position relative
  display inline-block
  margin-bottom 25px
  @media screen and (max-width: 767px)
    transform scale(0.8)
    margin-bottom 0

.lp-progress-blured
  filter blur(6px)

.lp-progress-top
  position absolute
  top 4px
  left 0
  right 0

.lp-progress-text
  position absolute
  top 50%
  left 50%
  font-weight 300
  font-size 48px
  text-align center
  transform translateX(-50%) translateY(-50%)
  span
    display block
    font-size 24px

.lp-section-two-btn
  margin 70px 0 0
  text-align center
  @media screen and (max-width: 767px)
    margin 40px 0 0

.lp-section-three
  padding 150px 0 150px
  position relative
  z-index 10
  background #F9F9F9
  @media screen and (max-width: 1199px)
    padding 140px 0 130px
  .lp-row-1
    @media screen and (max-width: 1400px)
      padding-top 50px
  &:before
    content ''
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background url('../images/squares-3.png') no-repeat center
    // animation glowing1 1.5s ease-in-out infinite alternate
    // transform translateZ(0)
  & > div
    position relative
    z-index 10
  img
    @media screen and (max-width: 767px)
      margin-bottom 30px
  .col-md-6
    @media screen and (max-width: 767px)
      justify-content center

.lp-content-col
  text-align left
  max-width 400px
  display inline-block

.lp-section-four
  padding 140px 0 165px
  box-shadow 0 2px 10px rgba(#000, .3)
  position relative
  z-index 10
  @media screen and (max-width: 1199px)
    padding 120px 0 125px
  // &:before
  //   content ''
  //   position absolute
  //   left 0
  //   right 0
  //   bottom 0
  //   top 0
  //   background url('../images/squares-1-4.png') no-repeat center
  //   animation glowing1 1.5s ease-in-out infinite alternate
    // transform translateZ(0)
  & > div
    position relative
    z-index 10
  .lp-row-1
    padding-bottom 115px
    @media screen and (max-width: 575px)
      padding-bottom 45px
    .col-sm-6
      @media screen and (max-width: 575px)
        margin-bottom 80px
    .headline
      display inline-block
      text-align left
    img
      margin 80px 0 75px
      @media screen and (max-width: 1199px)
        margin 60px 0 55px
      @media screen and (max-width: 575px)
        margin 30px 0 25px
  .border-right-image
    @media screen and (max-width: 767px)
      margin-bottom 30px

.lp-bg-1
  position relative
  z-index 10
  &:before
    content ''
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background url('../images/squares-5.png') no-repeat center
    // animation glowing1 1.5s ease-in-out infinite alternate
    // transform translateZ(0)
  & > section
    position relative
    z-index 10

.lp-section-five
  padding 150px 0 60px
  position relative
  background #F9F9F9
  z-index 10
  @media screen and (max-width: 1199px)
    padding 120px 0 40px

.lp-section-sixth
  padding 60px 0 140px
  background #F9F9F9
  @media screen and (max-width: 1199px)
    padding 60px 0 120px
  .lp-row-1
    padding-bottom 115px
    @media screen and (max-width: 1199px)
      padding-bottom 95px
    @media screen and (max-width: 991px)
      padding-bottom 45px
    .btn
      margin 35px 0
    .col-lg-5
      @media screen and (max-width: 767px)
        margin-bottom 50px
  .lp-row-2
    padding-bottom 45px
  .lp-row-3
    .btn
      margin-top 50px

.lp-znx-wrap
  display flex
  align-items center
  @media screen and (max-width: 991px)
    justify-content center
    margin-top 50px
  @media screen and (max-width: 420px)
    display block
    text-align center

.lp-znx-img
  width 230px
  height 230px
  margin-right 30px
  background url('../images/ellipse@2x.png') no-repeat center;
  background-size contain
  position relative
  @media screen and (max-width: 1400px)
    width 200px
    height 200px
  @media screen and (max-width: 991px)
    width 180px
    height 180px
  @media screen and (max-width: 420px)
    display inline-block
    margin-bottom 10px
    margin-right 0

.lp-znx-txt
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
  font-size 30px
  text-align center
  @media screen and (max-width: 1400px)
    font-size 27px
  @media screen and (max-width: 991px)
    font-size 24px
  span
    color $primary-color
    margin-bottom 5px
    font-weight 300
    font-size 68px
    @media screen and (max-width: 1400px)
      font-size 62px
    @media screen and (max-width: 991px)
      font-size 55px

.lp-znx-list
  clearlist()
  font-size 28px
  @media screen and (max-width: 1400px)
    font-size 27px
  @media screen and (max-width: 1199px)
    font-size 24px
  @media screen and (max-width: 991px)
    font-size 21px
  span
    color $primary-color

.lp-section-seventh
  padding 150px 0
  position relative
  z-index 1
  @media screen and (max-width: 1199px)
    padding 120px 0
  @media screen and (max-width: 991px)
    padding 100px 0
  // &:before
  //   content ''
  //   position absolute
  //   left 0
  //   right 0
  //   bottom 0
  //   top 0
  //   background url('../images/squares-1-5.png') no-repeat center
  //   animation glowing1 1.5s ease-in-out infinite alternate
    // transform translateZ(0)
  & > div
    position relative
    z-index 10
  .lp-row-1
    padding-bottom 130px
    @media screen and (max-width: 991px)
      padding-bottom 90px

.lp-coin-value
  display flex
  align-items center
  max-width 420px
  width 100%
  @media screen and (max-width: 767px)
    margin-bottom 30px

.lp-coin-img
  padding 15px 0 5px
  border-left 1px solid $primary-color

.lp-coin-text
  padding-right 35px
  font-size 48px
  font-weight 300
  text-align right
  span
    line-height 1.9
    margin-top 5px
    display block
    color $primary-color
    font-weight 500
    @media screen and (max-width: 991px)
      line-height 1.6

.lp-section-eight
  padding 140px 0 1px
  position relative
  z-index 10
  background #F9F9F9
  @media screen and (max-width: 1199px)
    padding 120px 0 0
  .lp-row-1
    padding-bottom 60px
    .headline
      display inline-block
      text-align left

.lp-table-group
  margin-bottom 75px
  .headline
    margin-bottom 30px
    @media screen and (max-width: 991px)
      margin-bottom 20px

.lp-image-container
  display inline-block
  @media screen and (max-width: 1400px)
    max-width 350px
  @media screen and (max-width: 991px)
    max-width 320px

.lp-image-container2
  display inline-block
  @media screen and (max-width: 1400px)
    max-width 390px
  & + .pt-40
    @media screen and (max-width: 767px)
      padding-top 0

.lp-image-container3
  display inline-block
  @media screen and (max-width: 1400px)
    max-width 320px
  @media screen and (max-width: 991px)
    max-width 290px

.lp-image-container4
  display inline-block
  @media screen and (max-width: 1400px)
    max-width 420px
  @media screen and (max-width: 1199px)
    max-width 390px
  @media screen and (max-width: 575px)
    max-width 300px
    display block
    margin auto

.lp-pre-ico-col
  @media screen and (max-width: 767px)
    text-align center
  .headline
    @media screen and (max-width: 767px)
      display inline-block
      text-align left
      margin-bottom 20px

.lp-section-nineth
  text-align center
  background #F9F9F9
  z-index 10
  position relative
  padding 85px 0 90px
  @media screen and (max-width: 1199px)
    padding 85px 0 110px
  @media screen and (max-width: 991px)
    padding 45px 0 60px
  .h2
    display inline-block
    text-align left
  .lp-row-1
    margin-bottom 75px
  img
    margin-bottom 40px
    // @media screen and (max-width: 991px)
    //   margin-bottom 20px
  .h4
    margin-bottom 35px
    position relative
    @media screen and (max-width: 991px)
      margin-bottom 15px
    .soc-icon
      position absolute
      top -30px
      left 50%
      transform translateX(-50%)
      color $primary-color
      &:hover
        color #00547d
    span
      height 29px
      font-size 0.93em
      @media screen and (max-width: 991px)
        height auto
  .h4--3row
    span
      height 55px
      @media screen and (max-width: 991px)
        height auto
  .row 
    justify-content center
    & > div
      margin-bottom 50px
      p
        text-align justify

.lp-dsc-wrap
  display flex
  align-items center
  text-align center

.lp-dsc
  max-width 185px
  span
    color $primary-color
    display inline-block
    margin-top 25px
  @media screen and (max-width: 1199px)
    max-width 145px
  @media screen and (max-width:  767px)
    max-width 185px
    margin 0 auto 30px

.lp-dsc-arrow
  flex 1
  @media screen and (max-width: 991px)
    display none
  img
    margin-left 10px

.lp-center-iph
  padding-left 0
  padding-right 0
  @media screen and (max-width: 767px)
    text-align center
  img
    margin-left -40px
    max-width calc(100% + 40px)
    @media screen and (max-width: 767px)
      margin-left 0
      max-width 100%

.investors-block
  display block
  text-align center
  margin 60px 0
  .h4
    margin 20px 0 35px
    padding-right 20px

#particles-js
  position fixed
  z-index -1
  left 0
  top 0
  width 100%
  height 100%
  background $bg-color-dark

.hp-roadmap
  position relative
  &:before
    content ''
    position absolute
    width 1px 
    background $primary-color
    top 250px
    bottom 250px
    left 50%
    transform translateX(-50%)
    @media screen and (max-width 1400px)
      top 210px
      // bottom 210px
    @media screen and (max-width 991px)
      display none
  .row
    position relative
    &:before
      content ''
      position absolute
      left 50%
      top 50%
      transform translateX(-50%) translateY(-50%)
      width 18px
      height 18px
      background #fff
      border 1px solid $primary-color
      border-radius 50%
      @media screen and (max-width 991px)
        display none
    &:after
      content ''
      position absolute
      left 50%
      top 50%
      transform translateX(-50%) translateY(-50%)
      width 6px
      height 6px
      background #000
      border-radius 50%
      @media screen and (max-width 991px)
        display none
    &:nth-of-type(5)
      &:before,
      &:after
        margin-top -40px
      .lp-image-container2
        display block
        text-align left
        @media screen and (max-width 767px)
          display inline-block
          text-align center

.ico-progress
  padding 0 150px
  position relative
  max-width 1080px
  margin 220px auto 70px
  @media screen and (max-width 991px)
    padding 0 120px
  @media screen and (max-width 575px)
    margin-top 150px
    padding 0
    .h4
      font-size 18px
    .text-lg
      font-size 14px

.ico-progress-left,
.ico-progress-right
  position absolute
  left 0
  width 135px
  top 0
  @media screen and (max-width 991px)
    width 105px
  @media screen and (max-width 575px)
    width auto
    // right 0
  .h4,
  .text-lg
    position absolute
    top -70px
    right 0
    @media screen and (max-width 575px)
      left 0
      right auto
  .text-lg
    top 25px
  .text-lg-center
    top -8px
    @media screen and (max-width 575px)
      display none

.ico-progress-right
  left auto
  right 0
  // @media screen and (max-width 575px)
  //   left 0
  //   right auto
  .h4,
  .text-lg
    right auto
    left 0
    @media screen and (max-width 575px)
      left auto
      right 0

.ico-progress-bar,
.ico-progress-bar-group
  position relative
  height 8px
  background #55585c
  span.h4
    @media screen and (max-width 575px)
      top -30px
  span.text-lg
    @media screen and (max-width 575px)
      top 10px

.ico-progress-bar-group
  background $primary-color
  color $primary-color
  transition width 1s
  img
    position absolute
    right -33px
    top -150px
    @media screen and (max-width 991px)
      position: absolute;
      right: -18px;
      top: -120px;
      max-width: 40px;
    @media screen and (max-width 575px)
      display none
  .h4,
  .text-lg
    position absolute
    top -70px
  .text-lg
    top 25px
  &.is-left
    .h4,
    .text-lg
      right 20px
  &.is-right
    .h4,
    .text-lg
      left 100%
      margin-left 20px

.ico-progress-bar-line
  position absolute
  right 0
  top 0
  &:before,
  &:after
    content ''
    position absolute
    right 0
  &:before
    top -65px
    bottom 0
    border-left 1px solid #fff
    @media screen and (max-width 575px)
      top -35px
  &:after
    bottom -45px
    border-left 1px dashed #fff
    top 0
    @media screen and (max-width 575px)
      bottom -25px

.ico-chart-headline
  margin-top -30px
  @media screen and (max-width 575px)
    margin-top 0
  span
    @media screen and (max-width 991px)
      font-size 0.9em
    @media screen and (max-width 767px)
      font-size 0.6em
    @media screen and (max-width 575px)
      font-size 0.8em

.lp-section-ref
  .h2
    margin-bottom 100px

.lp-ref-chart
  display inline-block
  position relative
  @media screen and (max-width 991px)
    margin-bottom 40px
  img
    vertical-align bottom
  h3
    margin 0
    position absolute
    left 50%
    top 50%
    transform translateY(-50%) translateX(-50%)
    font-size 19px
    font-weight 400
    strong
      color $primary-color
      font-size 37px
      font-weight 700
      @media screen and (max-width: 767px)
        font-size 33px

.bounty-list
  clearlist()
  li
    margin-bottom 20px
    vertical-align middle
    font-size 24px
    font-weight 700
    @media screen and (max-width: 1199px)
      font-size 21px
    @media screen and (max-width: 767px)
      margin-bottom 35px
      text-align center
    span
      color $primary-color
      white-space nowrap
    p
      margin 0
      display inline-block
      vertical-align middle
      @media screen and (max-width: 767px)
        display block
        margin-top 10px

.bounty-percent
  display inline-block
  vertical-align middle
  width 100px
  height 40px
  line-height 40px
  font-style normal
  text-align center
  border-radius 20px
  margin-right 40px
  @media screen and (max-width: 767px)
    margin-right 0