.glowing-square
  background $primary-color
  width 80px
  height 80px
  position absolute
  filter blur(3px)
  opacity 0.32
  box-shadow 0 0 0 $primary-color
  &-1
    right 100%
    margin-right 35px
    top 20px
    animation glowing1 1.5s ease-in-out infinite alternate
  &-2
    left 100%
    margin-left 75px
    top 65px
    animation 1.5s glowing1 .7s ease-in-out infinite alternate

.drag-drop-ico
  display inline-block
  width 27px
  height 33px
  background url('../images/upload_icon.png') no-repeat center
  background-size contain
  vertical-align bottom

.file-ico
  width 19px
  height 24px
  display inline-block
  vertical-align bottom
  background url('../images/doc_icon.png') no-repeat center
  background-size contain

.update-icon
  width 20px
  height 20px
  display inline-block
  vertical-align middle
  background url('../images/update-icon@2x.png') no-repeat center
  background-size contain
  &.is-active
    animation spin 1s linear infinite
    cursor not-allowed