.logon-modal
  max-width 390px
  width 100%
  background #fff
  margin auto
  padding 0 !important
  border-radius 10px
  overflow visible !important
  position relative
  .h4
    text-align center
    margin-bottom 35px
  .mfp-close
    left 100%
    right auto
    background #fff
    margin-left 15px
    top 15px
    width 40px
    height 40px
    line-height 40px
    border-radius 6px
    font-size 40px
    color #bfbfbf
    opacity 1
    @media screen and (max-width: 575px)
      left auto
      right 10px
      top 10px
      margin-left 0

.logon-modal-container
  padding 35px 25px
  text-align center

.logon-link
  display inline-block
  margin-top 35px
  text-decoration underline
  color $font-color

.logon-modal-text
  p
    padding 0 10px
    line-height 1.4
    margin-bottom 40px