.table-responsive-500
  overflow auto
  .table,
  .table-transparent,
  .table-gray
    min-width 500px

.table
  width 100%
  thead
    background $primary-color
    color #fff
    th
      cursor default
      padding 10px 8px
      font-weight 500
      font-size 17px
      height 55px
      position relative
      text-align center
      @media screen and (max-width: 991px)
        font-size 15px
      @media screen and (max-width: 575px)
        font-size 14px
        padding 10px 5px
      &:before
        content ''
        position absolute
        top 15px
        bottom 15px
        right 0
        width 1px
        background rgba(#000, .2)
      &:last-of-type:before
        display none
  tbody
    tr
      transition all .2s
      &:nth-of-type(2n)
        background #f2f2f2
      &:hover
        background rgba($primary-color, .1)
    td
      cursor default
      padding 12px 10px
      text-align center
      position relative
      @media screen and (max-width: 991px)
        font-size 15px
        padding 10px 7px
      @media screen and (max-width: 575px)
        font-size 14px
        padding 10px 5px
      @media screen and (max-width: 450px)
        font-size 12px
      &:before
        content ''
        position absolute
        top 10px
        bottom 10px
        right 0
        width 1px
        background #909090
      &:last-of-type:before
          display none

.table-7-cols
  th,
  td
    width (100% / 7)

.table-3-cols
  th,
  td
    width (100% / 3)

.table-black
  width 100%
  font-size 17px
  text-align center
  @media screen and (max-width: 991px)
    font-size 15px
  @media screen and (max-width: 575px)
    font-size 14px
  thead
    background $bg-color-dark
    color #fff
    th
      cursor default
      height 48px
      padding 15px
      position relative
      vertical-align top
      &:before
        content ''
        position absolute
        top 10px
        bottom 10px
        right 0
        width 1px
        background $primary-color
      &:last-of-type:before
        display none
  tbody
    tr
      transition all .2s
      &:nth-of-type(2n)
        background #f2f2f2
      &:hover
        background rgba($primary-color, .1)
    td
      cursor default
      padding 15px
      height 48px
      position relative
      &:before
        content ''
        position absolute
        top 10px
        bottom 10px
        right 0
        width 1px
        background #909090
      &:last-of-type:before
          display none

.table-transparent
  width 100%
  font-size 17px
  @media screen and (max-width: 991px)
    font-size 15px
  @media screen and (max-width: 575px)
    font-size 14px
  thead
    text-align left
    th
      height 48px
      padding 15px
      position relative
      vertical-align top
      &:first-of-type
        padding-left 0
      &:before
        content ''
        position absolute
        top 10px
        bottom 10px
        right 0
        width 1px
        background #909090
      &:last-of-type:before
        display none
  tbody
    td
      padding 15px
      height 48px
      color $primary-color
      position relative
      &:first-of-type
        padding-left 0
      &:before
        content ''
        position absolute
        top 10px
        bottom 10px
        right 0
        width 1px
        background #909090
      &:last-of-type:before
          display none

table
  th.col-left,
  td.col-left
    text-align left
  th.col-right,
  td.col-right
    text-align right
  th.col-center,
  td.col-center
    text-align center

.inv-table
  width 100%
  font-size 16px
  @media screen and (max-width: 991px)
    font-size 15px
  @media screen and (max-width: 575px)
    font-size 14px
  tr
    cursor default
    border-bottom 1px solid #cfcfcf
    &:last-of-type
      border-bottom none
  thead
    th
      text-align left
      font-size 18px
  tbody
    td
      text-align left
      &:before
        bottom auto
        top 50%
        transform translateY(-50%)
        height 30px
      &:first-of-type,
      &:nth-of-type(4)
        &:before
          display none
    tr
      background inherit !important
  td
    cursor default
    height 90px
    padding 10px

.table-gray
  @extend .table-black
  thead
    background #797979

.table-black-col
  th:first-of-type,
  td:first-of-type
    background #000
    color #fff
    &:before
      display none
  th[width="20%"]
    @media screen and (max-width: 991px)
      width auto

.no-borders
  th:before
  td:before
    display none

.no-hover
  tr
    background inherit !important